<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <form action="/details" method="post">
        Name:
        <input type="text" id="name" name="name" required>
        email id:
        <input type="email" id="email" name="email" required><br><br>
        Age:
        <input type="number" id="age" name="age" min="14"><br><br>
        Contact number:
        <input type="number" id="cn" name="cn" required><br><br>
        <button>Next</button>
    </form>
    