<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <form action="/update" method="post">
        Username:
        <input type="text" id="Username" name="Username" required>
        Password:
        <input type="password" id="Password" name="Password" required>
         Confirm Password:
        <input type="password" id="CPassword" name="CPassword" required>
        <br><br>
        <button>Change</button>
    </form>
    